.about {
  margin: 40px 0 0 0;
  padding: 0;

  &__title {
    margin: 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ffa577;
  }

  &__text {
    margin: 15px 0 0 0;
    a {
			color: #896e69;
		}
  }

  &__photo {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin: 0;

    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
    }

    &__text-main {
      margin: 0 40px;
    }

    &__text-wrapper,
    &__photo-wrapper {
      width: 50%;
      margin: 0;
    }
    
    &__photo {
      width: 384px;
      height: 360px;
    }

    &__text {
      font-size: 15px;
      margin-top: 10px;
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin: 0;
    padding: 0;

    &__text-wrapper {
      width: 400px;
    }

    &__text {
      font-size: 16px;
    }

    &__photo {
      width: 400px;
      height: 370px;
    }
  }
}