.contacts {
  &__list {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    &__link {
      display: flex;
      align-items: center;
      margin: 0 40px 0 40px;
      padding: 0;
    }
  
    &__link-img {
      width: 15px;
      height: 15px;
    }
  
    &__description {
      font-size: 16px;
      margin: 0 0 0 5px;
      color: $another-color;
      &:hover {
        opacity: 0.5;
      }
    }

    &__list-wrapper {
      position: fixed;
      background-color: #fff;
      width: 100%;
      border-top: 1px dashed #111;
      border-bottom: 1px dashed #111;
      margin: 0;
      top: 30px;
      left: 0;
      z-index: 1;
    }
    
    &__list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 5px 0 5px 0;
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    &__list-wrapper {
      width: 76%;
      left: 50%;
      transform: translateX(-50%);
      border-left: 1px dashed #111;
      border-right: 1px dashed #111;
    }

    &__link {
      display: flex;
      align-items: center;
    }

    &__link-img {
      width: 18px;
      height: 18px;
    }

    &__description {
      font-size: 18px;
    }
  }
}