

@media (min-width: $tablet-width) {
	.main-blocks {
		&__container-wrap {
			margin: 0 auto;
			padding: 20px 0 0 0;
		}

		&__container-title {
			position: relative;
			font-size: 27px;
		}

		&__wrapper {
			background-image: url("../img/bg.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			margin: 0 auto;
			padding: 0 40px;
		}

		&__photo {
			display: block;
			margin: 0 20px 0 0;
			width: 200px;
			height: 200px;
		}

		&__about {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
		}

		&__about-text {
			font-size: 17px;
		}

		&__about-wrapper {
			display: flex;
			flex-direction: column;
		}

		&__about-title {
			margin: 10px 0 25px 0;
		}

		&__technologies-block {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto;
			padding: 30px 30px;
		}

		&__technologies-text {
			position: relative;
			font-size: 18px;
			line-height: 1.2;
			background-color: white;
			box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
			padding: 15px;
			margin: 11px;
			border: 10px solid transparent;
			border-left: 20px solid #557258;
			width: 200px;
		}
	}
}

@media (min-width: $desktop-width) {
	.main-blocks {
		padding: 0;
		margin: 0;

		&__container-title {
			margin-top: 70px;
		}

		&__wrapper {
			padding: 0 180px;
		}
	
		&__about {
			margin: 20px 0;
		}

		&__about-title {
			font-size: 24px;
		}

		&__about-wrapper {
			padding: 0 50px;
		}

		&__technologies-block {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
		}

		&__technologies-text {
			font-size: 18px;
			line-height: 1.2;
			width: 200px;
			margin: 20px;
		}
	}
}