.portfolio {
	margin: 0 auto;
	max-width: 380px;

	&__title {
		font-size: 20px;
		font-weight: 200;
		color: $another-text-color;
		margin: 15px 0 10px 0;
	}

	&__item-image {
		width: 315px;
		height: 270px;
		border: 1px solid #272727;
		cursor: pointer;
	}

	&__item {
		padding: 0 30px;
	}

	&__describe {
		position: relative;
	}

	&__describe-text {
		position: absolute;
		font-size: 14px;
		color: white;
		background-color: rgba(0,0,0,0.9);
		width: 300px;
		padding: 5px 8px;
		bottom: 10px;
	}
}

@media (min-width: $tablet-width) {
	.portfolio {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 768px;

		&__item {
			width: 316px;
			padding: 0;
			margin-bottom: 15px;
			margin-left: 14px;
			flex: 1 0 auto;
		}

		&__title {
			margin: 17px 0 10px 0;
			text-align: center;
		}

		&__describe-text {
			width: 286px;
			padding: 5px 15px;
		}
	}
}

@media (min-width: $desktop-width) {
	.portfolio {
		max-width: 750px;

		&__title {
			width: 300px;
			padding: 0;
			text-align: center;
		}

		&__item {
			margin-bottom: 25px;
			margin-left: 25px;
		}

		&__describe-text {
			width: 287px;
			bottom: 0;
			left: 0;
		}
	}
}