.portfolio {
	padding: 0 30px;
	
	&__title {
		font-size: 20px;
		font-weight: 200;
		padding: 0 px;
		margin: 0 0 5px 0;
		text-align: left;
	}

	&__item-image {
		width: 315px;
		height: 270px;
		border: 1px solid #272727;
		cursor: pointer;
		margin: 0 auto;
	}

	&__item {
		text-align: center;
		margin: 10px;
	}

	&__describe {
		position: relative;
		margin: 0 auto;
		width: 315px;
	}

	&__describe-text {
		position: absolute;
		font-size: 14px;
		color: white;
		text-align: left;
		background-color: rgba(0,0,0,0.9);
		bottom: 0;
		width: 300px;
		padding: 5px 8px;
	}
}

@media (min-width: $tablet-width) {
	.portfolio {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 45px 0 45px;

		&__item {
			width: 316px;
			padding: 0;
			margin-bottom: 15px;
		}

		&__title {
			color: $another-text-color;
			text-align: center;
			padding: 0 20px;
			margin: 0 0 10px 0;
		}

		&__describe-text {
			width: 286px;
			padding: 5px 15px;
		}
	}
}

@media (min-width: $desktop-width) {
	.portfolio {
		padding: 0 80px;

		&__item {
			width: 300px;
			margin: 0 40px 20px 40px;
		}

		&__describe-text {
			width: 287px;
			bottom: 0;
			left: 0;
		}
	}
}