.projects {
  margin: 40px 0 0 0;
  padding: 0;

  &__title {
    padding-bottom: 5px;
    border-bottom: 1px solid #ffa577;
  }
}

@media (min-width: $tablet-width) {
  .projects {
    margin-top: 20px;

    &__title {
      font-size: 26px;
      padding: 0 0 10px 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .projects {
    &__title {
      margin-top: 30px;
      font-size: 24px;
    }
  }
}