.slider {
  width: 150px;
  position: relative;
  margin: auto;
  height: 90px;

  &__wrapp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__item img {
    object-fit: cover;
    margin-top: 20px;
  }

  &__previous, &__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #111;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
  }

  &__next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }

  &__previous:hover, &__next:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__item {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

@keyframes fade {
  from {
      opacity: 0.4
  }
  to {
      opacity: 1
  }
}


@media (min-width: $tablet-width) {
  .slider {
    height: 100px;
  }
}