.technologies {
  margin: 40px 0 0 0;
  padding: 0;

  &__title {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffa577;
  }

  &__pic-wrapper {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .technologies {
    margin: 0;
    &__pic-wrapper {
      display: block;
    }

    &__text {
      font-size: 15px;
    }

    &__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__block-main {
      margin: 0 40px;
    }

    &__block {
      width: 384px;
    }

    &__pic-wrapper,
    &__block {
      width: 50%;
    }
    
    &__pic {
      width: 384px;
      height: 360px;
    }
  }
}

@media (min-width: $desktop-width) {
  .technologies {
    margin: 0;
    padding: 0;

    &__text {
      font-size: 16px;
    }

    &__pic {
      width: 400px;
      height: 370px;
    }

    &__pic-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}