$main_font: 'Commissioner', sans-serif;;
$main_color: #f9f9ff;
$another-color: #866e69;
$main-text-color: #272727;
$another-text-color: #3d4e3f;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;